.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

th {
    text-align: center;
}

.vert-align-middle {
    vertical-align: middle !important;
}