<div class="row">
    <div class="col-xs-12 text-center">
        <h2><u>Achievements</u></h2>
    </div>
</div>

<br/>
<div ng-controller="AchievementCtrl">
    
    <div class="row" style="height: 305px">
        <div class="col-md-offset-2 col-md-8">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="achievement in achievements track by achievement.id" index="achievement.id">
                    <div style="margin:auto; height: 300px; background-color: #7d9531;" >
                        <span class="fa fa-{{achievement.icon}}" style="margin-top: 25px; font-size: 18em; color: #5d7404;"></span>
                        <div class="carousel-caption">
                            <h4>{{achievement.name}}</h4>
                            <p>{{achievement.date}}</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
    <br/>
    <div class="row" ng-repeat="achievement in achievementsInProgress">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3" >
                            <div class="text-center" style="height: 100px; background-color: #7d9531; min-width: 100px;">
                                <div class="fa fa-{{achievement.icon}}" style="font-size: 5em; margin-top: 12px;"></div>
                            </div>
                            <div class="progress" style="margin-top: 5px;">
                                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{achievement.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{achievement.progress}}%">
                                    {{achievement.progress}}%
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <div style="height: 125px; background-color: {{achievement.backgroundColor}}">
                                <h4>{{achievement.name}}</h4>
                                <p>{{achievement.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>