<div class="row">
    <div class="col-xs-12 text-center">
        <h2><u>Bird Identification</u></h2>
    </div>
</div>

<br/>
<hr/>
<div ng-controller="BirdIdentificationCtrl">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 form-group">
            <label for="search" class="sr-only" >Search...</label>
            <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-search fa-lg"></span></div>
                <input class="form-control input-lg" id="search" ng-model="search.name" type="search" placeholder="Search...">
            </div>
        </div>
    </div>
    <div ng-repeat="species in speciesList | filter:search">
        <div class="row row-content" style="margin-bottom: 20px;">
            <div class="col-md-offset-2 col-md-8">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" ng-src="{{species.image}}" alt="{{species.name}}" width="200">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><u>{{species.name}}</u></h4>
                        <p>{{species.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>