<header class="jumbotron" style="margin-bottom: 0; padding-bottom: 24px;">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12" style="text-align: center;">
                <h1><span class="fa fa-binoculars"></span> Twitcher <span class="fa fa-list" style="vertical-align: middle;"></span></h1>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-collapse">
                <li class="navbar-left">
                    <a href="#/lists"><u>Lists</u></a>
                </li>
                <li>
                    <a href="#/achievements"><u>Achievements</u></a>
                </li>
                <li>
                    <a href="#/needs"><u>Needs</u></a>
                </li>
                 <li>
                     <a href="#/observations"><u>Observations</u></a>
                </li>
                 <li>
                     <a href="#/bird-identification"><u>Bird Identification</u></a>
                </li>
            </ul>
        </div>
    </div>
</nav>  