<div class="row">
    <div class="col-xs-12 text-center">
        <h2><u>Lists</u></h2>
    </div>
</div>

<div class="row" ng-controller="ListCtrl">
    
    <script type="text/ng-template" id="addList.html">
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="modal-title">Add List</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="location">Location</label>
                    <input ng-model="location" type="text" required class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="timeframe">Timeframe</label>
                    <select ng-model="timeframe" required class="form-control">
                        <option value=""></option>
                        <option value="life">Life</option>
                        <option value="year">Year</option>
                        <option value="month">Month</option>
                        <option value="day">Day</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
            </div>
            <div ng-show="timeframe=='custom'">
                <div class="row">
                    <div class="form-group form-group-sm col-md-offset-2 col-md-8">
                        <label for="from">From</label>
                        <input type="date" ng-model="from" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-sm col-md-offset-2 col-md-8">
                        <label for="to">To</label>
                        <input type="date" ng-model="to" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok()">Save</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <div class="col-md-offset-3 col-md-6" style="text-align: center;">
        <button class="btn btn-primary pull-right" style="margin-bottom:5px;" ng-click="open('sm')"><span class="fa fa-plus-circle fa-lg"></span> <span class="fa fa-list fa-lg" style="vertical-align: middle;"></span> Add List</button>
        <table class="table table-striped table-bordered">
            <thead>
                <th>Location</th>
                <th>Timeframe</th>
                <th>Count</th>
                <th style="width: 70px;">Delete</th>
            </thead>
            <tbody>
                <tr ng-repeat="list in filteredLists">
                    <td class="vert-align-middle">{{list.location}}</td>
                    <td class="vert-align-middle">{{list.timeframe}}</td>
                    <td class="vert-align-middle">{{list.count}}</td>
                    <td class="vert-align-middle"><a class="btn btn-danger" style="margin-bottom:5px;"><span class="fa fa-trash fa-lg"></span></a></td>
                </tr>
            </tbody>
        </table>
        
        <ul uib-pagination total-items="lists.length" items-per-page="numPerPage" ng-model="currentPage" previous-text="<" next-text=">"></ul>
        
    </div>
</div>