<div class="row">
    <div class="col-xs-12 text-center">
        <h2><u>Needs</u></h2>
    </div>
</div>

<br/>
<div class="row" ng-controller="NeedCtrl">
    <div class="col-md-offset-2 col-md-8" style="text-align: center;">
        <table class="table table-striped table-bordered">
            <thead>
                <th>Species</th>
                <th>Location</th>
                <th>Lists</th>
                <th>Observers</th>
                <th>Last Observed</th>
                <th>Notes</th>
            </thead>
            <tbody>
                <tr ng-repeat="need in filteredNeeds">
                    <td class="vert-align-middle">{{need.species}}</td>
                    <td class="vert-align-middle">
                        <p><u>{{need.location}}</u></p>
                        <a href="https://www.google.com/maps/place/{{need.location}}/" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{need.location}}&zoom=10&scale=false&size=100x100&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{need.location}}" alt="Google Map of {{need.location}}"></a>
                    </td>
                    <td class="vert-align-middle">{{need.lists | joinBy:', '}}</td>
                    <td class="vert-align-middle">{{need.observers | joinBy:', '}}</td>
                    <td class="vert-align-middle">{{need.lastObserved}}</td>
                    <td class="vert-align-middle">{{need.notes | joinBy:', '}}</td>
                </tr>
            </tbody>
        </table>
        
        <ul uib-pagination total-items="needs.length" items-per-page="numPerPage" ng-model="currentPage" previous-text="<" next-text=">"></ul>
        
    </div>
</div>