<div class="row">
    <div class="col-xs-12 text-center">
        <h2><u>Observations</u></h2>
    </div>
</div>

<div class="row" ng-controller="ObservationCtrl">
    
    <script type="text/ng-template" id="addObservation.html">
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="modal-title">Add Observation</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="Species">Species</label>
                    <input ng-model="species" type="text" required class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="location">Location</label>
                    <input ng-model="location" type="text" required class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="date">Date and Time</label>
                    <input type="datetime" ng-model="datetime" required class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="Notes">Notes</label>
                    <textarea rows="3" ng-model="notes" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok()">Save</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <div class="col-md-offset-3 col-md-6" style="text-align: center;">
        <button class="btn btn-primary pull-right" style="margin-bottom:5px;" ng-click="open('sm')"><span class="fa fa-plus-circle fa-lg"></span> <span class="fa fa-binoculars fa-lg"></span> Add Observation</button>
        <table class="table table-striped table-bordered">
            <thead>
                <th>Species</th>
                <th>Location</th>
                <th>Observation Date</th>
                <th>Count</th>
                <th style="width: 70px;">Delete</th>
            </thead>
            <tbody>
                <tr ng-repeat="observation in filteredObservations">
                    <td class="vert-align-middle">{{observation.species}}</td>
                    <td class="vert-align-middle">
                        <p><u>{{observation.location}}</u></p>
                        <a href="https://www.google.com/maps/place/{{observation.location}}/" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{observation.location}}&zoom=10&scale=false&size=100x100&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{observation.location}}" alt="Google Map of {{observation.location}}"></a>
                    </td>
                    <td class="vert-align-middle">{{observation.datetime}}</td>
                    <td class="vert-align-middle">{{observation.count}}</td>
                    <td class="vert-align-middle"><a class="btn btn-danger" style="margin-bottom:5px;"><span class="fa fa-trash fa-lg"></span></a></td>
                </tr>
            </tbody>
        </table>
        
        <ul uib-pagination total-items="observations.length" items-per-page="numPerPage" ng-model="currentPage" previous-text="<" next-text=">"></ul>
        
    </div>
    
</div>